In [10]:
import pandas as pd

In [11]:
return_csv_files = {'daily_returns_csv':'./cached_data/nasdaq_daily_log_returns.csv',
'weekly_returns_csv':'./cached_data/nasdaq_weekly_log_returns.csv',
'monthly_returns_csv':'./cached_data/nasdaq_monthly_log_returns.csv'}
tickers = ['NVDA', 'FTNT', 'MRVL', 'AMD', 'ZS']
data_start_date: str = '2010-01-01'
data_end_date: str = '2022-12-23'

In [18]:
def read_data(returns_csv,tickers,data_start_date,data_end_date):
    returns_df = pd.read_csv(returns_csv, index_col=['Date'], parse_dates=True)
    selected_returns = returns_df.loc[data_start_date:data_end_date,tickers]
    print(f'Selected returns:\n{selected_returns.head(10)}')
    return(selected_returns)

In [19]:
for name, returns_csv in return_csv_files.items():
    print(f'\n** {name} **')
    read_data(returns_csv,tickers,data_start_date,data_end_date)

** daily_returns_csv **
Selected returns:
                NVDA      FTNT      MRVL       AMD   ZS
Date
2010-01-04  0.000000  0.000000  0.000000  0.000000  0.0
2010-01-05  0.014052  0.021979  0.019111  0.001030  0.0
2010-01-06  0.006953  0.052922  0.008616 -0.014523  0.0
2010-01-07 -0.018649  0.005141 -0.023326 -0.010504  0.0
2010-01-08  0.002350  0.030305  0.011460 -0.004233  0.0
2010-01-11 -0.014185  0.000000 -0.007625 -0.031236  0.0
2010-01-12 -0.036368 -0.015038 -0.040731 -0.055101  0.0
2010-01-13  0.014706 -0.020409  0.016380  0.056195  0.0
2010-01-14 -0.017178  0.025447 -0.014105 -0.016529  0.0
2010-01-15 -0.027605 -0.015190 -0.041177 -0.017938  0.0

** weekly_returns_csv **
Selected returns:
                NVDA      FTNT      MRVL       AMD   ZS
Date
2010-01-10  0.004706  0.110348  0.015860 -0.028230  0.0
2010-01-17 -0.080630 -0.025190 -0.087258 -0.064609  0.0
2010-01-24 -0.038915 -0.090729 -0.039860 -0.114959  0.0
2010-01-31 -0.068426 -0.039891 -0.076148 -0.054772  0.0
2010-02-07  0.052426 -0.091249  0.041035 -0.014855  0.0
2010-02-14  0.067558  0.049700  0.065455  0.068358  0.0
2010-02-21 -0.046281  0.047346  0.032925  0.007595  0.0
2010-02-28 -0.021277 -0.005797 -0.036518 -0.002525  0.0
2010-03-07  0.057457 -0.005831  0.054288  0.084797  0.0
2010-03-14  0.005063 -0.047913 -0.006270  0.036492  0.0

** monthly_returns_csv **
Selected returns:
                NVDA      FTNT      MRVL       AMD   ZS
Date
2010-01-31 -0.183265 -0.045462 -0.187406 -0.262570  0.0
2010-02-28  0.052426  0.000000  0.102897  0.058572  0.0
2010-03-31  0.070068  0.022990  0.055424  0.158656  0.0
2010-04-30 -0.102857  0.011300  0.011287 -0.021811  0.0
2010-05-31 -0.178994 -0.088033 -0.084871 -0.056705  0.0
2010-06-30 -0.251789  0.006116 -0.185381 -0.157657  0.0
2010-07-31 -0.103463  0.093090 -0.055171  0.022958  0.0
2010-08-31  0.014118  0.125163  0.063956 -0.289018  0.0
2010-09-30  0.225011  0.203341  0.096502  0.236952  0.0
2010-10-31  0.029414  0.182322  0.095852  0.031837  0.0

In [20]:
returns_csv = return_csv_files['weekly_returns_csv']
read_data(returns_csv,tickers,data_start_date,data_end_date)

Selected returns:
                NVDA      FTNT      MRVL       AMD   ZS
Date
2010-01-10  0.004706  0.110348  0.015860 -0.028230  0.0
2010-01-17 -0.080630 -0.025190 -0.087258 -0.064609  0.0
2010-01-24 -0.038915 -0.090729 -0.039860 -0.114959  0.0
2010-01-31 -0.068426 -0.039891 -0.076148 -0.054772  0.0
2010-02-07  0.052426 -0.091249  0.041035 -0.014855  0.0
2010-02-14  0.067558  0.049700  0.065455  0.068358  0.0
2010-02-21 -0.046281  0.047346  0.032925  0.007595  0.0
2010-02-28 -0.021277 -0.005797 -0.036518 -0.002525  0.0
2010-03-07  0.057457 -0.005831  0.054288  0.084797  0.0
2010-03-14  0.005063 -0.047913 -0.006270  0.036492  0.0

                NVDA      FTNT      MRVL       AMD        ZS
Date
2010-01-10  0.004706  0.110348  0.015860 -0.028230  0.000000
2010-01-17 -0.080630 -0.025190 -0.087258 -0.064609  0.000000
2010-01-24 -0.038915 -0.090729 -0.039860 -0.114959  0.000000
2010-01-31 -0.068426 -0.039891 -0.076148 -0.054772  0.000000
2010-02-07  0.052426 -0.091249  0.041035 -0.014855  0.000000
...              ...       ...       ...       ...       ...
2022-11-20 -0.057883 -0.073546  0.014883  0.016445 -0.024635
2022-11-27  0.054385  0.014468 -0.023455  0.021116  0.000144
2022-12-04  0.036815  0.013143  0.039686 -0.002132 -0.072939
2022-12-11  0.007380 -0.027995 -0.074727 -0.089075 -0.095768
2022-12-18 -0.025618 -0.004037 -0.062388 -0.047472 -0.025928

[676 rows x 5 columns]

In [15]:
returns_csv = return_csv_files['monthly_returns_csv']
read_data(returns_csv,tickers,data_start_date,data_end_date)

                NVDA      FTNT      MRVL       AMD        ZS
Date
2010-01-31 -0.183265 -0.045462 -0.187406 -0.262570  0.000000
2010-02-28  0.052426  0.000000  0.102897  0.058572  0.000000
2010-03-31  0.070068  0.022990  0.055424  0.158656  0.000000
2010-04-30 -0.102857  0.011300  0.011287 -0.021811  0.000000
2010-05-31 -0.178994 -0.088033 -0.084871 -0.056705  0.000000
...              ...       ...       ...       ...       ...
2022-07-31  0.180769  0.052839  0.247443  0.211384  0.036449
2022-08-31 -0.185069 -0.203020 -0.173335 -0.107162  0.026600
2022-09-30 -0.217591  0.008996 -0.087089 -0.292288  0.031707
2022-10-31  0.106069  0.151385 -0.077092 -0.053489 -0.064518
2022-11-30  0.226429 -0.072548  0.159035  0.256610 -0.143875

[155 rows x 5 columns]

In [22]:
returns_csv = return_csv_files['weekly_returns_csv']
weekly_returns_df = read_data(returns_csv,tickers,'2010-02-07','2010-02-28')
#print(f'Selected returns:\n{weekly_returns_df.head()}')

Selected returns:
                NVDA      FTNT      MRVL       AMD   ZS
Date
2010-02-07  0.052426 -0.091249  0.041035 -0.014855  0.0
2010-02-14  0.067558  0.049700  0.065455  0.068358  0.0
2010-02-21 -0.046281  0.047346  0.032925  0.007595  0.0
2010-02-28 -0.021277 -0.005797 -0.036518 -0.002525  0.0

In [26]:
curr_rets = weekly_returns_df.mean(axis=1)
print(curr_rets)

Date
2010-02-07   -0.002529
2010-02-14    0.050214
2010-02-21    0.008317
2010-02-28   -0.013223
dtype: float64

In [37]:
curr_tot_ret = weekly_returns_df.mean(axis=1).values.sum()
print(curr_tot_ret)

0.04277910862895043